<head>
    <link rel="stylesheet" href="/css/newEfect.css">
    <script src="/js/index.js"></script>

</head>

<div id="slidTitulo">
    <h2>
        <b> Dev-Cute </b> <br><small><b>Soluções de Viagens</b></small> 
        <div class="mask">
            <strong data-show>A Solução para o teu negócio. </strong>
            <strong>Dá um nivel a Mais no que você faz!</strong>
            <strong>O Futuro chegou mais cedo!</strong>
            <strong>Só acerta quem tenta!</strong>
        </div>
    </h2> 
</div>