<head>
    <title>DSV</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      
<div class="interface">

  <%- include('../../components/bunner')%>

  
  <h4 class="m-4">
    <a href="/services" class="text-muted">Ver os tipos de Processos Disponíveis.</a>
  </h4>

  <h3 id="sub-ofertaH3" class="m-4">Serviços Disponíveis:</h3>

  <div class="row col-12">
    <% subservicos.forEach(servico => { %>
      <div id="subservicos" class="col-md-2">
        <div id="subservicos-card" class="col-12 card mb-3 border-success m-2">
      
          <div class="card-header">Solicitação</div>
          
          <div class="card-body">
            
            <h5 class="card-title m-2 my-3"> (<%=servico.name %>) </h5>
            <a href="/subservico/<%=servico.id%>" class="btn btn-success col-12">Detalhes</a>
    
          </div>
    
        </div> 
      </div>
    <% }) %>
  </div>
</div>
</body>