<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css do Bootstrap -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">

    <!--link para O javaScript bootstrap da pagina-->
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/wise.css">
    <title>Document</title>
</head>
<body>
    <main class="container" id="pr">
        <div class="card" id="card">
            <img src="/wisiLog.jpg" id="img">

            <p>Olá Joelson,</p>

            <h2 id="title">Decidimos manter a sua conta desativada.</h2>

            <p id="farstP">
                Concluímos a verificação - então podemos processar o seu reembolso.
            </p>

            <p>
                reembolsaremos qualquer saldo remanescente em seus saldo para a conta bancária que você nos forneceu durante o processo de desativação.
            </p>

            <p>
                Tenha em mente que reembolsos podem levar entre 2-5 dias úteis para retornar à sua conta - e em alguns casos raros, até 10 dias úteis.
            </p>

            <p>
                Infelizmente, não podemos lhe dizer o motivo especifíco pelo qual desativamos a sua conta - isso ocorre devido a forma que somos regulados. Mas você pode ler os nosso <span id="termos"><a href="https://wise.com/terms-and-conditions">Termos de Uso</a></span>, onde explicamos como temos a permissão de desativar contas.
            </p>

            <div class="card-actions" id="rodp">
                <p>
                    Obrigado,
                    <br>
                    Equipe da Wise
                </p>
            </div>
        </div>
    </main>

  <script src="/assets/dist/jquery/dist/jquery.min.js"></script>
</body>
</html>