<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS do Pagina -->
    <link rel="stylesheet" href="/css/navstyle.css">
    
    <!-- Css do Bootstrap -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">

    <!--link para O jquery da pagina-->
    <script src="/assets/dist/jquery/dist/jquery.min.js"></script>
    
    <!--link para O javaScript bootstrap da pagina-->
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="nav">
        
      <a class="navbar-brand" href="/">
          <img src="/favicon.png" alt="" id="logo" style="width: 25px;">
        </a>
        
        <button id="botao" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/auth/posts/">Postagens</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/auth/buscar/">Pesquisar</a>
                </li>
            </ul>
            
        </div>
    </nav>
    
    <p id="separador"></p>
    
    <main>
        <%- include(`../pages/${conteudo}`)%>
    </main>
</body>
</html>
