<head>
    <title>DSV - Postagens</title>
</head>
<body>
    <%- include('../../components/publicidades') %>

    <div class="container" id="principal">
        <a href="/post/create" class="btn btn-primary col-12">Novo Post</a>
    </div>

    <%- include('../../components/novidades', { posts }) %>
</body>