<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <%- include('../layout/navbar') %>
    </div>
    

    <h1 class="">This's show page</h1>

    <pre>
        <% novaArray.forEach(s => { %>
            <%=s.name%>
            <%=s.id%>
            <%=s.preco%>
        <% }) %>
    </pre>
</body>
</html>